/*
Author:markothedev
Github Repo: https://github.com/MARKOTHEDEV
mail:markothedevmail@gmail.com
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --heading-size:0;
    --font-size:14px;
}

html[theme-mode="light-mode"]{
    --text-color:black;
    --background-color:#fafafa;
    --shadow-color:#dddcdc;
    /* this is background color for the card,nav,search fierld,input field */
    --box-backgroud-color:white;

}

html[theme-mode="dark-mode"]{
    --text-color:#fcffff;
    --background-color:#202d36;
    /* this is background color for the card,nav,search fierld,input field */

    --box-backgroud-color:#2b3743;

    --shadow-color:#1d2a33;   
}
body{
    font-family:'Nunito Sans',sans-serif;
    font-size: 14px;
}
body{
    background-color:var(--background-color);
}
nav{
    padding: 1.4rem 1rem;
    box-shadow: 2px 3px 17px 0px var( --shadow-color);
    margin-bottom: 10%;
    background-color: var(--box-backgroud-color);
}

nav h2{

}   
nav p{
    font-size: 1rem;
    font-weight: 500;
}
#mode_btn .fa-sun{
    background-color: transparent;
    color:yellow;
    /* box-shadow:         0px 0px 19px 0px yellow; */
}
#mode_btn .fa-moon{
    color: black;
    /* box-shadow:   0px 0px 19px 0px black; */
}
#mode_btn .light_mode.icon{
    display: none;
}
.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.main_content_area{
    padding: 0 .9rem;
}

.search{
    border: transparent;
    display: block;
    width: 90%;
    margin:  5% 0;
    margin-bottom: 10%;
    box-shadow:  1px 2px 24px 0px var( --shadow-color);
    padding: 1rem;
    border-radius: 9px;
    background-color: var(--box-backgroud-color);
}
.search::placeholder{
    color: gray;
    font-size: .9rem;
}
select{
    appearance: none;
    border: transparent;
    background-color:var(--box-backgroud-color);
    padding: 1rem;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  
}
.myselect_box{
    position: relative;
    box-shadow:  1px 2px 24px 0px var( --shadow-color);
    width: 60%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;

}
.section_b{
    /* border: 1px solid red; */
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
   
}
.card{
    /* margin: 0 auto; */
    width: 80%;
    /* border: 1px solid rgb(122, 66, 66); */
    background-color: var(--box-backgroud-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    line-height: 25px;
    box-shadow:  1px 2px 24px 0px var( --shadow-color);

}

.card img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.card_content{
    padding: .9rem 1rem;
}
.card_content h2{
    font-size: 1.4rem;
    padding: .7rem 0;
}
.card_content p{
    font-size: .8rem;

}
.arrow_down{
    pointer-events: none;
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    display: block;
    height: 100%;
    padding: 1rem;
    cursor: pointer;
}

@media screen  and (min-width:600px){
    .section_b{
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .card{
        width: 100%;
    }
    .section_a{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .myselect_box{
        width: 40%;
    }
    .search{
        width: 40%;
        margin: 0;
    }
}

@media screen  and (min-width:872px){
    .search{
        width: 394.867px;
    }
    .myselect_box{
        width: 200px;
    }

    .section_b{
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: repeat(3,1fr);
       
    }
    .section_b{
        /* padding: 0; */
        /* border: 1px solid red; */
    }
}

@media screen  and (min-width:1000px){
    .search{
        /* width: 100px; */
    }

    .section_b{
        /* border: 1px solid red; */
        display: grid;
        /* gap: 0; */
        grid-template-columns: repeat(4,1fr);
       
    }

    .main_content_area{
        max-width: 1440px;
        margin:  0 auto;
    }
}